<head>    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}"/></head>
<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" style="
    padding: 30px 10%;
    max-width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;">
    <a href="/home"><img class="logo" th:src="@{../images/LOGOPNG.png}"></a>
    <ul class="nav_links">
        <li><a href="/home">Home</a></li>
        <li><a href="/reservation-info">Reservation</a></li>
        <li><a href="/contact" style="margin-right: 5px">Contact</a></li>
        <li><a href="/about" style="margin-right: 5px">About</a></li>
    </ul>
    <div class="right" style="display:flex;">
        <div sec:authorize="!isAuthenticated()">
            <a href="/register-info" style="margin-right: 55px" >Register</a>
        </div>
        <!--            <a class="reg" href="/register">LOGIN</a>-->
        <!--          <a class="log" href="/login">REGISTER</a>-->
    </div>
</header>